.dailyWeather {
    display: flex;
    flex-direction: column;
    color: #f2f2f2;
    padding: 2rem 3rem;
    width: 450px;
  }
  
  .dailyWeater__container {
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
  }
  
  @media (max-width: 375px) {
    .dailyWeather {
      padding: 2rem;
    }
  }
  